.todo-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: rem(32px);
  transition: all ease 0.2s;

  &:not(:last-child) {
    margin-bottom: 0.32rem;
  }

  &__inputs {
    flex: 1;
    margin: 0 1rem;
    span {
      font-size: $ft-s-xsmall;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    input {
      display: block;
    }
  }

  &__text,
  &__note {
    flex: 1;
    margin-left: 1.2rem;
    position: relative;

    &:not(s),
    &:not(span) {
      outline: none;
      border: none;
      background: none;
    }

    &.-edit {
      background-color: transparentize($color-pastel-pink, 0.72);
      color: $color-text;
      font-size: $ft-s-xsmall;
      padding: 0.48rem;
      margin-bottom: 0.24rem;
      margin-left: 0.96rem;

      &::placeholder {
        color: $color-pastel-pink;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -1.2rem;
      width: 0.64rem;
      height: 0.64rem;
      display: block;
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }

  &__note {
    &.-edit {
      font-size: $ft-s-xxsmall;
    }

    font-size: $ft-s-xxsmall;
    color: $color-pastel-pink;
  }
}
