$color-text: #dd2d4a;
$color-text-secondary: #014f86;
$color-bg: white;
$color-pastel-blue: #b3dee2;
$color-pastel-pink: #ea9ab2;
$color-bg-pink: #efcfe3;
$color-bg-blue: #eaf2d7;

$ft-s-xxsmall: 0.75rem; // 12px
$ft-s-xsmall: 1rem; // 16px
$ft-s-small: 1.25rem; // 20påx
$ft-s-medium: 1.5rem; // 24px
$ft-s-large: 2rem; // 32px
$ft-s-xlarge: 3rem; // 48px
